/* CSS Boilerplate */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 20px;
  display: flex;
  gap: 30px;
}
.card{
  width: 295px;
  height: 304px;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  padding: 30px;
  justify-content: space-between;
  flex-direction: column;
}
.card .top{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 30px;
}
.top img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 5px;
  background-color: transparent;
  color: #b1b1b1 ;
} 
.center{
 /* background-color: #b1b1b1; */
}
.center h3{
  font-size: 17px;
  font-weight: 500;
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
  font-weight: 600;
}
.center .tag{
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}
.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: black;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 3px;

}
.bottom{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-top: 1.5px solid #d7d7d7;
 padding-top: 15px;
}
.bottom button{ 
  padding: 5px 10px;  
  border: none;
  border-radius: 5px;
  column-width: 600;
  background-color: black;
  color: white ;
}

.bottom h3 {
  font-size: 17px;
}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}