
img {
  height: 40em;
  /* box-shadow: 10px 10px 20px black; */
  filter: drop-shadow(10px 10px 20px rgb(87, 92, 87)) ;
}
.box{
    height: 300px;
    width: 300px;
    border-radius: 40px;
    background-color: #f0e6e6;
    box-shadow: 20px 20px 60px rgb(116, 21, 21) ;
    float: right;
}
